<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time out - NV200_Dashboard</title>
     <link rel = "icon" href = "assets/img/favicon.ico" type = "image/x-icon">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
      <script src="lib/jquery/dist/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>

<!-- 
    RTL version
-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.rtl.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.rtl.min.css"/>
<!-- Semantic UI theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.rtl.min.css"/>
<!-- Bootstrap theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.rtl.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script src="js/site.js" asp-append-version="true"></script>
 <style>
     body{
      overflow-y:hidden !important;
        background:#dd2a1c !important; 
        height:fit-content !important;
     }
 </style>
</head>
<body>

<div class="text-center justify-content-center">
    <h1 class="text-light shadow-lg" style="font-size:20rem;">TIME OUT</h1>
    
</div>
</body>
<script>
$(document).ready(function() {
    $("body").css("background","url('assets/timeout.jpg') !important")
    $("body").css("background-size","cover !important")
    let d = JSON.parse(localStorage.getItem("obj"))
    if(d == undefined || d == null){
        window.location.href = "/";
    }
    let data = {
        "amount":`${d["amount"]}`,
        "mobile":d["number"],
        "service":d["service"],
        "terminal": SITE_ID,
        "profile":d["plan"]["profile"],
        "price":d["plan"]["price"],
        "validity":d["plan"]["validity"],
        "remaining":`${d["remaining"]}`,
        "total" : `${d["total"]}`
    }

    //console.log(data)
    $.get(`${ADD_PENDING_AMOUNT_END_POINT}${data["mobile"]}/${data["remaining"]}`, function(f) {
            setTimeout(function() {


         
        $.post(`/jwpTimeOut`, data, function(d1) {
            window.location.href = "/"

        })
    }, 
    1000);
    })


    
    
    
})
</script>
</html>